<<<<<<< HEAD
.titre{
    margin: 50px 0 100px 0;
}
input{
    margin-bottom: 5px;
=======
.titre{
    margin: 50px 0 100px 0;
}
input{
    margin-bottom: 5px;
>>>>>>> 04471914325163b2d69142af37bd958f60748800
}