.question_faq{
	border: solid rgb(200,200,200) 1px;
	text-align: left;
	margin-top: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}
.bouton_faq:hover{
	color: black;
}
.fleche_droite_faq{
	width: 10px;
	height: 10px;
	float: right;
}
.tout_faq{
	text-align: center;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.reponse_faq{
	border: solid rgb(200,200,200) 1px;
	border-top: none;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}
.bouton_faq{
	text-decoration: none;
	color: black;
}
.titre_question_faq , .fleche_droite_faq{
	display: inline-block;
}
.titre_question_faq{
	margin: 0;
}
